$primary-background: hsla(0, 5%, 5%, 1);
$primary-text-color: hsla(0, 5%, 95%, 1);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap);
$primary-font: 'Oswald', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap);
$secondary-font: 'Work Sans', sans-serif;
